<div class="container">
    <div class="row">
        <form class="col s12" (ngSubmit)="nouvelleDemande()">
            <div class="row">
                <h5>
                    <strong>Informations</strong><br>
                    Une demande sera envoyé au propriétaire qui devra accepté ou refusé votre demande. 
                    Si celle-ci est refusée, vous serez notifié de cette décision. 
                    Néanmoins, si cette demande est acceptée, vous devrez indiquer votre date de naissance, votre RIB et le numéro de téléphone de votre banque.
                    Sans ces informations, vous ne pourrez pas devenir locataire de cet appartement.<br><br>
                    <strong>Êtes-vous sûr de vouloir louer cet appartement ? Vous ne pourrez pas la modifier par la suite.</strong>
                </h5>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Je veux louer</button>
                </div>
            </div>
        </form>
    </div>
</div>