<div *ngIf="numCli !== null" class="container">
    <div class="row">
        <!-- Tri par arrondissement -->
        <div class="col s12 m6">
            <h6>Chercher dans un arrondissement précis ?</h6>
            <!-- Boutons de tri par arrondissement -->
            <div>
                <button class="btn" (click)="sortByArrondissement('all')">Tous</button>
                <button *ngFor="let arrondissement of arrondissements" class="btn"
                    (click)="sortByArrondissement(arrondissement)">
                    {{ arrondissement }}
                </button>
            </div>
        </div>

        <!-- Tri par type d'appartement -->
        <div class="col s12 m6">
            <h6>Chercher un type d'appartement précis ?</h6>
            <!-- Boutons de tri par type d'appartement -->
            <div>
                <button class="btn" (click)="sortByTypeAppartement('all')">Tous</button>
                <button *ngFor="let type of typesAppartement" class="btn" (click)="sortByTypeAppartement(type)">
                    {{ type }}
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Tri par prix de location -->
        <div class="col s12 m6 offset-m3"> <!-- Utilisation de "m6" pour les tailles moyennes et "offset-m3" pour centrer -->
            <div class="center">
                <h6>Vous avez un budget précis ?</h6>
                <div>
                    <input type="number" placeholder="Prix minimum" [(ngModel)]="prixMin" min="0">
                    <input type="number" placeholder="Prix maximum" [(ngModel)]="prixMax" min="0">
                    <button class="btn" (click)="sortByPrixLocation()">Rechercher</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h4 class="center-align">Les appartements actuellement libre</h4>
        <!-- Liste des appartements -->
        <div *ngFor="let unAppartement of filteredAppartementList" class="col s12 m4">
            <div (click)="goToAppartement(unAppartement)" class="card" AppartementBorderCard>
                <div class="card-image">
                    <img src="../../../assets/img/image.jpg" alt="Image">
                </div>
                <div class="card-content" style="height: 120px; overflow: hidden;">
                    <p><strong>{{ unAppartement.rue }}</strong></p>
                    <p>Paris {{ unAppartement.arrondisse }}</p>
                    <p><small>Type : {{ unAppartement.typappart }} - Libre le : {{ unAppartement.date_libre }}</small>
                    </p>
                </div>
                <div class="card-action">
                    <p>Prix de location : {{ unAppartement.prix_loc }} €</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="numProp !== null" class="container">
    <div class="row">
        <h4 class="center-align">Vos annonces</h4>
        <!-- Liste des appartements -->
        <div *ngFor="let unAppartement of proprioAppartementList" class="col s12">
            <div class="card mb-3">
                <div class="card-image">
                    <img src="../../../assets/img/image.jpg" alt="Image">
                </div>
                <div class="card-content">
                    <p><strong>ID : {{ unAppartement.numappart }}</strong></p>
                    <p><strong>Adresse : {{ unAppartement.rue }}</strong></p>
                    <p>Paris {{ unAppartement.arrondisse }}</p>
                    <p>Nombre d'étages : {{ unAppartement.etage }}</p>
                    <p>Type : {{ unAppartement.typappart }}</p>
                    <p>Libre le : {{ unAppartement.date_libre }}</p>
                    <p>Présence d'un ascenseur : {{ unAppartement.ascenseur }}</p>
                    <p>Préavis demandé : {{ unAppartement.preavis }}</p>
                    <p>Prix de location : {{ unAppartement.prix_loc }} €</p>
                    <p>Prix des charges : {{ unAppartement.prix_charg }} €</p>
                    <p>Date de disponibilité : {{ unAppartement.date_libre }}</p>

                    <h6 *ngIf="unAppartement.numeroloc !== null"><strong>Louer par : {{ unAppartement.prenom_loc }} {{ unAppartement.nom_loc }}</strong></h6>
                    <h6 *ngIf="unAppartement.numeroloc === null"><strong>Libre</strong></h6>
                </div>
                <div class="card-action">
                    <button class="btn waves-effect waves-light" (click)="toggleModifDateInput(unAppartement)">Modifier</button>
                    <button class="btn" (click)="supprimerAppartement(unAppartement.numappart)">Supprimer</button>
                </div>
                <div *ngIf="unAppartement.modificationEnCours" class="card-action">
                    <form (submit)="modifierAppartement(unAppartement.numappart, unAppartement.modifDate)">
                        <input type="date" [(ngModel)]="unAppartement.modifDate" required>
                        <span class="helper-text red-text" *ngIf="dateInPast(unAppartement.modifDate)">La date de visite doit être future.</span>
                        <button type="submit" class="btn waves-effect waves-light">
                            Valider
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <button class="btn" (click)="goToNewAppartement()">Vous voulez mettre en location un nouvel appartement ?</button>
</div>