.card {
    width: 100%;
    margin-bottom: 20px; /* Espacement entre les cartes */
}

.card .card-action {
    padding: 16px;
}

.card.horizontal .card-stacked {
    width: calc(100% - 64px); /* Largeur de la partie empilée de la carte */
}

.card .card-content p {
    margin: 6px 0; /* Espacement entre les paragraphes */
}

.card .card-content p:first-child {
    margin-top: 0; /* Supprime l'espacement en haut du premier paragraphe */
}

.card .card-content p:last-child {
    margin-bottom: 0; /* Supprime l'espacement en bas du dernier paragraphe */
}