<div class="center-align">
    <h2 class="flow-text">Bienvenue sur ce site de location d'appartements !</h2>
    <p class="flow-text">Vous êtes ?</p>

    <div class="row">
        <div class="col s4">
            <a routerLink="/login-proprietaire" class="btn waves-effect waves-light">
                Propriétaire
            </a>
        </div>
        <div class="col s4">
            <a routerLink="/login-locataire" class="btn waves-effect waves-light">
                Locataire
            </a>
        </div>
        <div class="col s4">
            <a routerLink="/login-client" class="btn waves-effect waves-light">
                Client
            </a>
        </div>
    </div>
</div>