<div class="row">
    <!-- Formulaire de Connexion -->
    <div class="col s6">
        <h4>Connexion</h4>
        <form class="col s12" (submit)="login()">
            <div class="row">
                <div class="input-field col s12">
                    <input id="email_cli_connexion" type="text" [(ngModel)]="loginClient.email_cli" required>
                    <label for="email_cli_connexion" class="active">Email Client</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="mdp_cli_connexion" type="password" [(ngModel)]="loginClient.mdp_cli" required>
                    <label for="mdp_cli_connexion" class="active">Mot de passe</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit">
                Connexion
            </button>
        </form>
    </div>

    <!-- Formulaire d'Inscription -->
    <div class="col s6">
        <h4>Inscription</h4>
        <form class="col s12" (submit)="register()">
            <div class="row">
                <div class="input-field col s6">
                    <input id="nom_cli" type="text" [(ngModel)]="newClient.nom_cli" required>
                    <label for="nom_cli" class="active">Nom</label>
                </div>
                <div class="input-field col s6">
                    <input id="prenom_cli" type="text" [(ngModel)]="newClient.prenom_cli" required>
                    <label for="prenom_cli" class="active">Prénom</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="adresse_cli" type="text" [(ngModel)]="newClient.adresse_cli" required>
                    <label for="adresse_cli" class="active">Adresse</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="codeville_cli" type="text" [(ngModel)]="newClient.codeville_cli" required>
                    <label for="codeville_cli" class="active">Code postal</label>
                </div>
                <div class="input-field col s6">
                    <input id="tel_cli" type="text" [(ngModel)]="newClient.tel_cli" required>
                    <label for="tel_cli" class="active">Numéro de téléphone</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email_cli_inscription" type="text" [(ngModel)]="newClient.email_cli" required>
                    <label for="email_cli_inscription" class="active">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="mdp_cli_inscription" type="password" [(ngModel)]="newClient.mdp_cli" required>
                    <label for="mdp_cli_inscription" class="active">Mot de passe</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="confirm_mdp_cli" type="password" [(ngModel)]="newClient.confirmMdp" required>
                    <label for="confirm_mdp_cli" class="active">Confirmer le mot de passe</label>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit">
                Inscription
            </button>
        </form>
    </div>
</div>